<h1>Harvard School of Vengeance</h1>

<h3>Stories</h3>
<%= link_to "New Story", new_story_path %>
<%= render @stories %>

<h3>Required Reading</h3>
<%= link_to "New Reading", new_reading_path %>
<%= render @readings %>