<div class="row">
  <div class="large-12 columns">
    <h3>Stories</h3>
      <%= render @stories %>
    <h3>Required Reading</h3>
      <%= link_to "New Reading", new_reading_path %>
      <%= render @readings %>
  </div>
</div>

