<p><%= paragraph.body %></p>

<p>
  <!-- like/unlike button -->
  <% if current_user.voted_for? paragraph %>
    <%= link_to "Unlike", paragraph_unlike_path(paragraph), method: :post %>
  <% else %>
    <%= link_to "Like", paragraph_like_path(paragraph), method: :post %> 
  <% end %>

  <!-- like count -->
  <% if paragraph.votes_for.count > 0 %>
    (<%= paragraph.votes_for.count %>)
  <% end %>

</p>